<!doctype html>
<html lang="en">

<head>
	<title>WebRinger - Change Password</title>
	<link href="/static/css/style.css" rel="stylesheet" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<h1>WebRinger</h1>
	<a href="/"><img src="/static/logo.svg" width=256></a>
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
	<form method="post" action="change-password">
		<label>Current password
			<input required type="password" name="current_password" id="current_password">
		</label>
		<label>New password
			<input required type="password" name="new_password" id="new_password">
		</label>
		<label>Confirm new password
			<input required type="password" name="confirm_new_password" id="confirm_new_password">
		</label>
		<input type="submit" value="Change Password">
	</form>
</body>

</html>
