{% extends "base.html" %}

{% block title %}Home - WebRinger{% endblock %}

{% block content %}

<div>
	<p>Username</p>
	<p>{{admin.username}}</p>
</div>
<div>
	<p>Email</p>
	<p>{{admin.email}}</p>
</div>
<div>
	<a href="/admin/account/change-password">
		<p>Change password</p>
	</a>
</div>
<form method="post" action="account/delete">
	<input type="submit" value="Delete Account">
</form>
{% if delete_button_pressed %}
<form method="post" action="account/delete?delete_confirmed=true">
	<input type="submit" value="Are you sure? Click here to confirm">
</form>
{% endif %}

{% endblock %}
