{% extends "base.html" %}

{% block title %}Home - WebRinger{% endblock %}

{% block content %}

<h2>Here's where you add a new admin</h2>
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}

<form method="post" action="add">
	<label>
		Username
		<input required name="username" id="username" placeholder="webringadmin"> </label>
	<label>Email
		<input required type="email" name="email" id="email" placeholder="ringerweb@myvuw.ac.nz" pattern=".*@.*\..*">
	</label>
	<label>
		Password
		<input required type="password" name="password" id="password" placeholder="password"> </label>
	<label>
		Confirm Password
		<input required type="password" name="confirm_password" id="confirm_password" placeholder="password"> </label>
	<input type="submit" value="Add">
</form>
{% endblock %}
