<!doctype html>
<html lang="en">

<head>
	<title>WebRinger - Admin</title>
	<link href="css/style.css" rel="stylesheet" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<h1>WebRinger - Admin</h1>
	<img src="/static/logo.svg" width=256>
	<a href="admin/view">
		<p>View verified and unverified sites</p>
	</a>
	<a href="admin/add">
		<p>Add a new admin</p>
	</a>
	<form action="/admin/logout" method="post">
		<button type="submit">Logout</button>
	</form>

</body>

</html>
