<!doctype html>
<html lang="en">

<head>
	<title>WebRinger - Admin</title>
	<link href="css/style.css" rel="stylesheet" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<h1>WebRinger - Approve/Deny sites</h1>
	<a href="/"><img src="/static/logo.svg" width=256></a>
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
	<h2>Unapproved Sites</h2>
	<table>
		<tr>
			<th>URL</th>
			<th>Email</th>
			<th>Approve/Deny</th>
		</tr>
		{% for site in unapproved_sites %}
		<tr>
			<td><a href="{{ site.root_url }}">{{ site.root_url }}</a></td>
			<td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td>
			<td>
				<form action="/admin/approve" method="post">
					<input type="hidden" name="url" value="{{ site.root_url }}">
					<input type="submit" value="Approve">
				</form>
				<form action="/admin/deny" method="post">
					<input type="hidden" name="url" value="{{ site.root_url }}">
					<label for="reason">Reason for denial:</label>
					<input type="text" name="reason" id="reason">
					<input type="submit" value="Deny">
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
	<h2>Approved Sites</h2>
	<table>
		<tr>
			<th>URL</th>
			<th>Email</th>
			<th>Date added</th>
			<th>By: Admin username</th>
			<th>By: Admin email</th>
		</tr>
		{% for site in approved_sites %}
		<tr>
			<td><a href="{{ site.root_url }}">{{ site.root_url }}</a></td>
			<td><a href="mailto:{{ site.site_email }}">{{ site.site_email }}</a></td>
			<td>{{ site.date_added }}</td>
			<td>{{ site.admin_username }}</td>
			<td><a href="mailto:{{ site.admin_email }}">{{ site.admin_email }}</a></td>
		</tr>
		{% endfor %}
	</table>
	<h2>Denied Sites</h2>
	<table>
		<tr>
			<th>URL</th>
			<th>Email</th>
			<th>Date added</th>
			<th>Reason for denial</th>
			<th>By: Admin username</th>
			<th>By: Admin email</th>
		</tr>
		{% for site in denied_sites %}
		<tr>
			<td><a href="{{ site.root_url }}">{{ site.root_url }}</a></td>
			<td><a href="mailto:{{ site.site_email }}">{{ site.site_email }}</a></td>
			<td>{{ site.date_added }}</td>
			<td>{{ site.reason }}</td>
			<td>{{ site.admin_username }}</td>
			<td><a href="mailto:{{ site.admin_email }}">{{ site.admin_email }}</a></td>
		</tr>
		{% endfor %}
	</table>
</body>

</html>
