{% extends "base.html" %}

{% block title %}Join - WebRinger{% endblock %}

{% block content %}

<p>If the following details are incorrect, please <a href="/">return to the previous page</a> and re-enter them</p>
<p>Email: {{ email }}</p>
<p>Url: {{ url }}</p>

<p>Host the following string as plaintext (no html) at {{ url }}webringer/auth so that we can verify that this is
	your website</p>
<p>{{ url_hash }}</p>

{% for message in messages %}
<p class="message {{ message.level }}">{{ message }}</p>
{% endfor %}
<form method="post" action="join">
	<input type="hidden" name="url" value="{{url}}">
	<input type="hidden" name="email" value="{{email}}">
	<input type="hidden" name="url_hash" value="{{url_hash}}">
	<input type="submit" value="Authenticate site and join">
</form>

{% endblock %}
