<!doctype html>
<html lang="en">

<head>
	<title>WebRinger - Join</title>
	<link href="css/style.css" rel="stylesheet" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<h1>WebRinger</h1>
	<a href="/"><img src="/static/logo.svg" width=256></a>

	<p>If the following details are incorrect, please <a href="/">return to the previous page</a> and re-enter them</p>
	<p>Email: {{ email }}</p>
	<p>Url: {{ url }}</p>

	<p>Host the following string as plaintext (no html) at {{ url }}webringer/auth so that we can verify that this is
		your website</p>
	<p>{{ url_hash }}</p>

	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
	<form method="post" action="join">
		<input type="hidden" name="url" value="{{url}}">
		<input type="hidden" name="email" value="{{email}}">
		<input type="hidden" name="url_hash" value="{{url_hash}}">
		<input type="submit" value="Authenticate site and join">
	</form>
</body>

</html>
