{% extends "base.html" %}

{% block title %}Home - WebRinger{% endblock %}

{% block content %}

{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}


<form method="post" action="login">
	<label>
		Username
		<input required name="username" id="username" placeholder="webringadmin"> </label>
	<label>
		Password
		<input required type="password" name="password" id="password" placeholder="password"> </label>
	<input type="submit" value="Login">
	{% if let Some(next) = next %}
	<input type="hidden" name="next" value="{{next}}" />
	{% endif %}
</form>

{% endblock %}
